Repository nickbaxter18/websitos, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, e2e, ci

.github/labeler.yml:

frontend:
  - src/**
  - v2/**

backend:
  - backend/**
  - api.py

e2e:
  - tests/e2e/**

ci:
  - .github/workflows/**
  - .husky/**
  - pnpm-lock.yaml

fix(jest): remove v2 module mapping and coverage paths after v2 cleanup
  jest.config.js
Labels: none

fix(about): correct Layout import path for Jest/TSX resolution
  src/components/About.tsx
Labels: frontend

fix(ci): clear Jest cache and remove dist/ before tests to avoid stale v2 artifacts
  .github/workflows/coverage-checks.yml
Labels: ci

fix(jest): explicitly ignore legacy v2 tests in config
  jest.config.js
Labels: none

fix(docs): update Codecov badge with token and cache-buster for accurate reporting
  README.md
Labels: none

chore(jest): include backend .js files in coverage collection
  jest.config.js
Labels: none

fix(ci): run Jest with --all to include untested backend JS files in coverage
  .github/workflows/coverage-checks.yml
Labels: ci

chore(codecov): add backend-js flag to track JS backend files coverage
  codecov.yml
Labels: none

chore(coverage): unify thresholds, add backend-js support, enforce per-flag gating, add smoke tests, and enhance Codecov config
  .github/workflows/coverage-checks.yml
  README.md
  backend/index.test.js
  backend/middleware.test.js
  codecov.yml
  coverage.config.json
  jest.config.js
Labels: backend, ci

fix(jest): add fallback for missing/invalid coverage.config.json and ensure file is tracked
  coverage.config.json
  jest.config.js
Labels: none

fix(coverage): enforce backend coverage via .coveragerc and pytest.ini defaults
  .coveragerc
  pytest.ini
Labels: none

chore(ci): improve coverage pipeline with thresholds, retries, and robust checkout
  .github/workflows/coverage-checks.yml
  jest.config.js
Labels: ci

fix(ci): stabilize coverage jobs, disable fail-fast, add playwright cache, remove backend-js from Jest
  .github/workflows/coverage-checks.yml
  jest.config.js
Labels: ci

chore(lint-staged): remove redundant git add to fix Husky warnings
  package.json
Labels: none

fix(ci): clean up Jest config, fix Router basename in tests, harden Codecov uploads, make sync non-blocking
  .github/workflows/coverage-checks.yml
  .github/workflows/udigit-sync.yaml
  jest.config.js
  src/App.test.tsx
Labels: frontend, ci

fix(ci): ensure proper job exit codes for coverage workflow to restore downloadable logs
  .github/workflows/coverage-checks.yml
Labels: ci

fix(router): remove embedded BrowserRouter from App, wrap in main.tsx instead
  src/App.tsx
  src/main.tsx
Labels: frontend

fix(ci): ensure coverage artifacts always upload with placeholders for Codecov
  .github/workflows/coverage-checks.yml
Labels: ci

fix(ci): enforce pytest coverage report generation and validation for Codecov
  .github/workflows/coverage-checks.yml
Labels: ci

fix(ci): enforce generation + validation of frontend, backend, and e2e coverage for Codecov
  .github/workflows/coverage-checks.yml
  jest.config.js
Labels: ci

chore(deps): upgrade jest, jest-environment-jsdom, and ts-jest to v30 for coverage stability
  package.json
Labels: none

fix(deps): lock Jest to v29.7.0 + ts-jest 29.4.2 and regenerate pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: ci

fix(ci): remove redundant coverageReporters flags and reset pnpm cache key
  .github/workflows/coverage-checks.yml
Labels: ci

fix(jest): switch to CommonJS config + reset pnpm cache to ensure coverage reporters work
  .github/workflows/coverage-checks.yml
  jest.config.js
Labels: ci

fix(jest): rename config to .cjs and update workflow to use CommonJS
  .github/workflows/coverage-checks.yml
  jest.config.cjs
Labels: ci

fix(ci): force Jest reporters + coverageDirectory to ensure lcov.info is generated
  .github/workflows/coverage-checks.yml
Labels: ci

fix(e2e): enforce instrumentation with vite-plugin-istanbul and capture raw NYC output for Playwright coverage
  .github/workflows/coverage-checks.yml
  vite.config.ts
Labels: ci

fix(e2e): add debug logs, force vite-plugin-istanbul instrumentation, capture dist/.nyc_output artifacts
  .github/workflows/coverage-checks.yml
  vite.config.ts
Labels: ci

fix(e2e): add babel-plugin-istanbul + nyc, regenerate lockfile, force preview server with NODE_V8_COVERAGE for Playwright coverage
  .babelrc
  .github/workflows/coverage-checks.yml
  package.json
  pnpm-lock.yaml
Labels: ci

chore(ci): add nycrc + codecov.yml, pin vite-plugin-istanbul, regenerate lockfile for stable coverage
  .nycrc
  codecov.yml
  package.json
  pnpm-lock.yaml
Labels: ci

fix(ci): ensure Jest test discovery and Playwright browser instrumentation with VITE_COVERAGE=true
  .github/workflows/coverage-checks.yml
  jest.config.cjs
  vite.config.ts
Labels: ci

fix(ci): resolve Jest/Babel duplication, enforce local nyc, add Playwright coverage hook, expand artifacts
  .babelrc.js
  .github/workflows/coverage-checks.yml
  jest.config.cjs
  tests/playwright-coverage-hook.ts
  vite.config.ts
Labels: ci

fix(ci): pin tough-cookie@^4.1.3 and regenerate lockfile for Jest stability
  package.json
  pnpm-lock.yaml
Labels: ci

chore(ci): finalize hardened coverage setup (Jest, Playwright, artifacts) with synced lockfile
  .github/workflows/coverage-checks.yml
  jest.config.cjs
  tests/playwright-coverage-hook.ts
Labels: ci

fix(ci): sync lockfile, add vite alias, auto babel-jest config, ensure nyc install in backend job
  .github/workflows/coverage-checks.yml
  jest.config.cjs
  vite.config.ts
Labels: ci

fix(ci): sync vite alias with tsconfig, add vite-tsconfig-paths, regenerate lockfile
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Labels: ci

ci: fully harden coverage setup (Jest purge .babelrc.js, backend nyc install, Chromium-only Playwright with coverage hooks, alias sync, artifact verification)
  .github/workflows/coverage-checks.yml
  .gitignore
  playwright.config.ts
Labels: ci

ci: cache bust v22, pytest --cov-append, Chromium coverage flags in Playwright
  .github/workflows/coverage-checks.yml
  playwright.config.ts
Labels: ci

ci: cache bust v22, pytest --cov-append, Chromium coverage flags, repo size guard
  .github/workflows/coverage-checks.yml
  .gitignore
Labels: ci

chore: remove stray .babelrc.js
  .babelrc.js
Labels: none
